extends layout

block content
  h1= title
  div#container
    each val in messages 
      div.message
        p Message: #{val.text} 
        span User: #{val.user}
        span Added: #{val.added.toLocaleDateString()}
